<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Audrey's Blog</title>
  </head>
  <body>
    <br>
    <h4>Welcome to My Blog</h4>

    <%= link_to 'Create a New Blog', new_blog_path %>

    <div class="">
      <% @blogs.each do |blog| %>
        <%= blog.title %>
        <%= blog.
        <%= blog.body %>
    </div>
  </body>
</html>
